google-cloud
lifetimes
geopandas
tsfresh
futures>=3.0.5
seasonal
visualize_ML
workalendar
sigopt_sklearn[ensemble]
tdigest
sklearn-pandas
datacleaner
bambi
datatest
jieba
cvxpy
# pycuda
categorical-distance>=1.9
quiver_engine
db.py
dedupe
dedupe-hcluster
parserator>=0.6.2
probableparsing>=0.0.1
probablepeople>=0.5.2
pyalgotrade
husl
ml_metrics
pyflux
mne
pyshp
pytagcloud
textblob
chainer
records
xgboost
sexmachine
Geohash
sacred
tflearn
fitter
vowpalwabbit
langid
delorean
trueskill
heamy
vida
missingno
s2sphere
bayesian-optimization
pyldavis
orderedmultidict
smhasher
nolearn
keras-vis
pybrain
stop-words
hep_ml
kaggle-cli
tfdebugger
# edward
# tensorflow-gpu
# scikit-cuda==0.5.1
# auto-sklearn
