git+https://github.com/marcotcr/lime.git
git+https://github.com/AmazaspShumik/sklearn_bayes.git
git+https://github.com/ferrine/gelato.git
git+https://github.com/Lasagne/Lasagne.git
git+https://github.com/fukatani/rgf_python.git
git+https://github.com/hyperopt/hyperopt-sklearn.git
rep --install-option='--no-deps'
git+https://github.com/googledatalab/pydatalab.git --install-option='--no-deps'
git+https://github.com/hammerlab/fancyimpute.git
git+git://github.com/rasbt/mlxtend.git#egg=mlxtend
git+https://github.com/amueller/word_cloud.git
git+https://github.com/nicta/dora.git
git+https://github.com/hyperopt/hyperopt.git
git+https://github.com/nicolashennetier/pyeconometrics.git
git+https://github.com/ztane/python-Levenshtein.git
git+https://github.com/danielhomola/boruta_py.git
git+https://github.com/NervanaSystems/neon.git
git+https://github.com/matthiasplappert/keras-rl.git
git+https://github.com/vitruvianscience/opendeep.git
git+https://github.com/lyst/lightfm.git
git+https://github.com/scikit-learn-contrib/py-earth.git
git+https://github.com/scikit-learn-contrib/polylearn.git
git+https://github.com/DistrictDataLabs/yellowbrick.git@develop
